@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

$lightGreen: hsl(174, 77%, 80%);
$midGreen: hsl(174, 86%, 45%);
$lightPink: hsl(14, 92%, 95%);
$coral: hsl(15, 100%, 70%);
$lavender: hsl(226, 100%, 87%);

$white: hsl (0, 0%, 100%);
$paleBlue: hsl(230, 100%, 99%);
$lighterBlue: hsl(224, 65%, 95%);
$lightBlue: hsl(223, 50%, 87%);
$greyBlue: hsl(225, 20%, 60%);
$darkBlue: hsl(227, 35%, 25%);

$bodyFont: 'Manrope', sans-serif;
$regular: 600;
$bold: 800;

* {
  font-family: 'Manrope', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  color: $greyBlue;
  background-image: url('assets/bg-pattern.svg');
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

.header {
  position: absolute;
  top: 104px;
  text-align: center;
  h1 {
    font-weight: 800;
    font-size: 28px;
    color: $darkBlue;
  }
  h2 {
    font-size: 15px;
    font-weight: 600;
    color: $greyBlue;
  }
  img {
    position: absolute;
    top: -15px;
    z-index: -1;
    left: 120px;
    width: 146px;
  }
}

#sliderContainer {
  margin-top: 312px;
  width: 540px;
  height: 397px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  filter: drop-shadow(0px 20px 30px rgba(127, 137, 185, 0.1521));
  background: white;
  border-radius: 8px;
}

.tick-slider-value-container {
  display: flex;
  div {
    margin-right: 2px;
  }
  div,
  p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
  }
  p {
    margin: 0px;
  }
}

.price-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.price-container {
  display: flex;
  p {
    font-size: 16px;
    font-weight: 600;
  }
}

#price {
  color: #293356;
  font-size: 40px;
  font-weight: 800;
  margin: 0px 8px 0px 0px;
}

.slider-container-center {
  display: grid;
  grid-template-columns: 1fr 0.33fr 1fr;
  width: 100%;
  font-size: 12px;
  &__left,
  &__center,
  &__right {
    display: flex;
  }
  &__left {
    justify-content: flex-end;
  }
  &__center {
    justify-content: center;
    align-items: center;
  }
  &__right {
    justify-content: flex-start;
  }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -5px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #7aeadf;
}

input:focus + .slider {
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input {
  background-color: purple !important;
}

.discount {
  color: #ff8d68;
  background-color: #feede8;
  padding: 5px;
  border-radius: 20px;
  margin-left: 10px;
}

.slider-container-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid $lighterBlue;
  height: 136px;
  width: 100%;
  &__right,
  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__left {
    ul {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 10px;
      align-items: flex-start;
      list-style-type: none;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0px;
      padding: 0px;
      li {
        display: flex;
        align-items: center;
      }
      li p {
        margin: 0px;
        font-size: 12px;
      }
      li > img {
        width: 6.95px;
        height: 5.04px;
        margin-right: 16px;
      }
    }
  }
  &__right {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 41px;
      background-color: $darkBlue;
      color: $lightBlue;
      border-radius: 20.5px;
      font-size: 12px;
      font-weight: 800;
      cursor: pointer;
      transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        box-shadow: 0px 10px 20px $lightBlue;
        transform: translateY(-2px);
      }
    }
  }
}
